body {
    background-color: #1C1C21; 
    font-family: Arial, sans-serif;
}

.page--play {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.page--menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.play-card {
    width: 90%; 
    max-width: 800px; 
    aspect-ratio: 16 / 9;
}

.play-card__window {
    position: relative;
    background-color: #000000; 
    border-radius: 16px;       
    overflow: hidden;          
    aspect-ratio: 16 / 9;
}

.play-card__iframe {
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    border: none; 
}

.play-card__title {
    background-color: #FF4C4C; 
    color: #E6E6E6;              
    padding: 15px 20px;         
    border-radius: 8px;         
    margin-top: 12px;           
    font-weight: bold;
    font-size: 1.5em;
}

.header-title {
    font-size: 3.8em;
    color: #E6E6E6;
    margin: 90px;
    margin-top: 70px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    position: relative;
    z-index: 1010;
}

.header-title:hover {
    transform: scale(1.5);
    transition: .5s;
}

.header-title__span {
    color: #FF4C4C;
}

.game-grid {
    width: 50%;
    gap: 50px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.game-card {
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    opacity: 70%;
}

.game-card__image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    border-bottom: 4px solid #FF4C4C;
}

.game-card__image:hover{
    transform: rotate(360deg);
    transition: 0.7s;
}

.game-card__image:active{
    transform: scale(1.3);
    transition: 0.5s;
}

.game-card--hidden {
    display: none;
}

.game-card--secret {
    display: none;
}

.nav {
    width: 100%;
    background: linear-gradient(90deg,rgba(176, 62, 62, 0.91) 0%, rgba(28, 28, 33, 1) 60%);
    position: sticky;
    top: 0;                    
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    opacity: 90%;
}

.nav--hidden {
    transform: translateY(-100%);
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    list-style-type: none;
    cursor: pointer;
    font-size: 1.7em;
    color: #E6E6E6;
}

.nav__item {
    user-select: none;
    position: relative;
    transition: transform .3s, padding .3s;
}

.nav__item::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    z-index: 1500;
    background: #FF4C4C;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav__item:hover{
    transform: scaleX(1.3);
    transition: .4s;
    padding: 10px;
}

.nav__item:hover::after {
    width: 100%;
    left: 0;
}

.nav__item:active{
    transform: scale(1.5);
    transition: .25s;
}

.footer {
    margin-top: auto;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    max-height: 10vh;
    background: linear-gradient(-90deg,rgba(176, 62, 62, 0.91) 0%, rgba(28, 28, 33, 1) 60%);
    opacity: 90%;
}

.footer__flex {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.footer__names {
    color: #E6E6E6;
    font-size: 1.2em;
}

.confetti {
    position: absolute;
    width: 100%;
    opacity: 50%;
}

.confetti--hidden {
    display: none;
}