
body {
    background-color: #282833; 
    font-family: Arial, sans-serif;
}

.body-play {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.body-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* --- El Contenedor Principal --- */
.game-card {
    width: 90%; 
    max-width: 800px; 
}

/* --- La Ventana del Juego (Caja gris) --- */
.game-window {
    position: relative;
    background-color: #000000; 
    border-radius: 16px;       
    overflow: hidden;          

    aspect-ratio: 16 / 9;
}

/* --- El Iframe (El juego en sí) --- */
.game-window iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; 
}

/* --- El Título (Caja azul) --- */
.game-title {
    background-color: #FF4C4C; 
    color: white;              
    padding: 15px 20px;        
    border-radius: 8px;        
    margin-top: 12px;          
    font-weight: bold;
    font-size: 1.5em;
}

.title-menu {
    font-size: 3.5em;
    color: #E6E6E6;
    margin: 90px;
    margin-top: 70px;
}

.title-menu:hover {
    transform: scale(1.5);
    transition: .5s;
}

.span-title-menu {
    color: #FF4C4C;
}

.games-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 50px;
}

.img-game {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border-bottom: 4px solid #FF4C4C;
}

.img-game:hover{
    transform: rotate(360deg);
    transition: 0.7s;
}

.img-game:active{
    transform: scale(1.3);
    transition: 0.5s;
}

.btn-game {
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    opacity: 70%;
}